<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Login | Admin Control Panel - HTD</title>
  <meta http-equiv="Content-Language" content="English" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/in-style.css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'/>
</head>


<body>

<form name="form1" method="post" action="index.html">
  <h1>Administrator Login</h1>

  <div class="inset">
  <p>
    <label for="username">Username</label>
    <input type="text" name="myusername" id="myusername">
  </p>
  <p>
    <label for="pass">Password</label>
    <input type="password" name="mypassword" id="mypassword">
  </p>
  </div>

  <p class="p-container">	<br/>
    <input type="submit" name="Submit" id="submit" value="Log in">
  </p>

</form>
<label style="text-align:center; font-size:10px">Copyright &copy; Human Trafficking Data - All Rights Reserved</label>
<footer>
</footer>

</body>
</html>
