<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Batch  | Admin Control Panel HTD</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
</head>

@model SeniorDesignWebApp.Models.AdminPanel

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
<!-- main CSS -->
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />

}

<body>

<div id="wrap">
	<div id="header">
		<div id="headerlinks">
		<a href="index.html" title="Case">Case</a>
		<a href="court.html" title="Court">Court</a>
		<a href="defendant.html" title="Defendant">Defendant</a>
		<a href="upload.html" class="upload_active" title="Batch Upload">Batch Upload</a>
		<a href="off.html" title="Log Off">LogOff</a>
		</div>
		<h1><a href="index.html">Admin Control Panel | HTD</a></h1>
	</div>


	<div id="content">


<table class="tg">

	<form>

  		<tr>
    		<th class="tg-4kyz" colspan="3">Batch Upload...</th>
  		</tr>

  		<tr>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-left:170px; " name="case_name"></td>
			<td><input type="file" style="font-size:13px; margin-right:110px; width:175px; height:30px; background-color:#000; border:none; color:#fff;" value="Choose File" name="upload_btn"></td>
  		</tr>




</table>
		<br><br><br><br><br><br><br>
		<input type="submit" style="font-size:20px; margin-left:0px; width:200px; height:50px; background-color:#db1a03; border:none; color:#fff;" value="Upload New Batch" name="case_submit">

	</form>


		<h4 style="color:#db1a03; margin-top:600px;">*Uploading...</h4>

	</div>

	<div id="footer">
		Admin Control Panel HTD V 0.1 | <a target="_blank" href="http://humantraffickingdata.org" title="Human Trafficking Data Website">Human Trafficking Data</a>
        <p>&copy; @DateTime.Now.Year - Judge Frog</p>
    </div>

</div>


</body>



</html>
