<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Edit Case - Edit | Admin Control Panel</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
</head>


<body>

<div id="wrap">

	<div id="header">
		<div id="headerlinks">
		<a href="../index.html" title="Home">Home</a>
		<a href="../create.html" title="Create">Create</a>
		<a href="../edit.html" class="edit_active" title="Edit">Edit</a>
		<a href="../delete.html" title="Delete">Delete</a>
		<a>|</a>
		<a href="../off.html" title="Log Off">LogOff</a>
		</div>
		<h1><a href="../index.html" title="Home | Admin Control Panel">Admin Control Panel | HTD</a></h1>
	</div>



	<div id="content">

	<div class="title">
	</div>


<section class="body-content">

<div class="sidebar"  style="background-color:#444;">

	<table class="tg-sidebar">


	<tr>
		<th class="tg-sidebar-4kyz" colspan="1">Editing...</th>
	</tr>

	<tr>
		<td style="background-color:#444;"><a href="#">Arrest Charge Details</a></td>
	</tr>

	<tr>
		<td style="background-color:#444;"><a href="#">Bail</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#" class="case_active">Case<span style="margin-left:220px"></span></a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Charge</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Court</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Defendant</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Defense</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Hearing</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Judge</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Motion</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Organized Crime Group</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Prosecutor</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Sentence</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Victim</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">  </a></td>
	</tr>

	</table>

</div>


<div class="page-content">

<table class="tg" style="margin-top: -900px;">

	<form>

  		<tr>
    		<th class="tg-4kyz" colspan="3">Case | <span style="color:#db1a03">USA VS. JOHN DOE</span></th>
  		</tr>
  		<tr>
    		<td class="tg-left"><span style="color:#db1a03">*</span>Name: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px; text-transform:uppercase" name="case_name" value="USA VS. JOHN DOE"></td>
  		</tr>

  		<tr>
    		<td class="tg-left"><span style="color:#db1a03">*</span>Date: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px; " name="case_date" value="05/21/2010"></td>
  		</tr>
  		
  		<tr>
    		<td class="tg-left"><span style="color:#db1a03">*</span>Details: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px; " name="case_details" value="N/A"></td>
  		</tr>
  		
  		<tr>
    		<td class="tg-left"><span style="color:#db1a03">*</span>Defendant: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px;" name="case_defendant" value="Jack Bauer"></td>
			<td><input type="submit" style="font-size:13px; margin-right:-30px; padding-left:10px; padding-right:10px; height:30px; background-color:#000; border:none; color:#fff;" value="New Defendant(s)" name="case_defendant"></td>
  		</tr>
  		
  		<tr>
    		<td class="tg-left"><span style="color:#db1a03">*</span>Defendant: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px;" name="case_defendant" value="Jane Doe"></td>
			<td><input type="submit" style="font-size:13px; margin-right:-30px; padding-left:10px; padding-right:10px; height:30px; background-color:#db1a03; border:none; color:#fff;" value="Remove this Defendant" name="case_defendant"></td>
  		</tr>

  		<tr>
    		<td class="tg-left"><span style="color:#db1a03">*</span>Defendant: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px;" name="case_defendant" value="John Smith"></td>
			<td><input type="submit" style="font-size:13px; margin-right:-30px; padding-left:10px; padding-right:10px; height:30px; background-color:#db1a03; border:none; color:#fff;" value="Remove this Defendant" name="case_defendant"></td>
  		</tr>

</table>

<table>
		<tr>
			<td>
			<input id="submit" type="submit" style="font-size:20px; margin-left:350px; width:200px; height:50px; background-color:#000; border:none; color:#fff;" value="Update Case" name="case_submit">
			</td>
		</tr>

		<tr>
			<td>
			<h4 style="color:#db1a03; margin-top:100px; margin-bottom:400px; margin-left:350px">*NOTE ~ Required Fields</h4>
			</td>
		</tr>

</table>
	</form>

</div>

	</div>


</section>


	<div id="footer">
		Admin Control Panel HTD V 0.1 | <a target="_blank" href="http://humantraffickingdata.org" title="Human Trafficking Data Website">Human Trafficking Data</a>
	</div>

</div>


</body>





</html>
