<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Delete Judge - Delete | Admin Control Panel</title>
	<meta http-equiv="Content-Language" content="English" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
</head>


<body>

<div id="wrap">

	<div id="header">
		<div id="headerlinks">
		<a href="../index.html" title="Home">Home</a>
		<a href="../create.html" title="Create">Create</a>
		<a href="../edit.html" title="Edit">Edit</a>
		<a href="../delete.html" class="delete_active" title="Delete">Delete</a>
		<a>|</a>
		<a href="../off.html" title="Log Off">LogOff</a>
		</div>
		<h1><a href="../index.html" title="Home | Admin Control Panel">Admin Control Panel | HTD</a></h1>
	</div>



	<div id="content">

	<div class="title">
	</div>


<section class="body-content">

<div class="sidebar"  style="background-color:#444;">

	<table class="tg-sidebar">


	<tr>
		<th class="tg-sidebar-4kyz" colspan="1">Deleting...</th>
	</tr>

	<tr>
		<td style="background-color:#444;"><a href="#">Arrest Charge Details</a></td>
	</tr>

	<tr>
		<td style="background-color:#444;"><a href="#">Bail</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Case</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Charge</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Court</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Defendant</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Defense</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Hearing</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#" class="judge_active">Judge<span style="margin-left:210px"></span></a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Motion</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Organized Crime Group</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Prosecutor</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Sentence</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">Victim</a></td>
	</tr>


	<tr>
		<td style="background-color:#444;"><a href="#">  </a></td>
	</tr>

	</table>

</div>


<div class="page-content">

<table class="tg" style="margin-top: -900px;">

	<form>

  		<tr>
    		<th class="tg-4kyz" colspan="3">Judge | <span style="color:#db1a03">ANDRE JR. 3000</span></th>
  		</tr>

  		<tr>
    		<td class="tg-left">ID: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px; " name="case_date" value="0024"></td>
  		</tr>
  		
  		<tr>
    		<td class="tg-left">Name: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px; text-transform:uppercase" name="case_name" value="ANDRE JR. 3000"></td>
  		</tr>

  		<tr>
    		<td class="tg-left">Career: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px; " name="case_details" value="N/A"></td>
  		</tr>
  		
  		<tr>
    		<td class="tg-left">Race: </td>
    		<td class="tg-right"><input type="text" style="font-size:20px; width:400px; margin-right:-120px;" name="case_defendant" value="5"></td>
  		</tr>

</table>

<table>
  		<tr>
  			<td class="tg-right"><input id="submit" type="submit" style="font-size:20px; margin-top:50px; margin-left:350px; width:200px; height:50px; background-color:#db1a03; border:none; color:#fff;" value="Delete Judge" name="delete_submit">
  			</td>
  		</tr>

  		<tr>
  			<td>
		<h4 style="color:#db1a03; margin-top:100px; margin-bottom:400px; margin-left:350px">Deleting...</h4>
  			</td>
  		</tr>


</table>

</div>

	</form>

	</div>


</section>


	<div id="footer">
		Admin Control Panel HTD V 0.1 | <a target="_blank" href="http://humantraffickingdata.org" title="Human Trafficking Data Website">Human Trafficking Data</a>
	</div>

</div>


</body>





</html>
